#Busan {
   fill: #355C7D;
   stroke: #F67280;
}


#seo:hover, #dong:hover, #yeongdo:hover, #busanjin:hover, #dongnae:hover, #nam:hover, #buk:hover,
#haeundae:hover, #saha:hover, #geumjeong:hover, #gangseo:hover, #yeonje:hover, 
#suyoung:hover, #sasang:hover, #gijang:hover, #jung:hover {
   fill: #F67280; 
}